{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4 col-md-4">
                <div class="form-login">
                    <form action="{{ path('user_create') }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Создание нового администратора</h1>
{#                      {{ form_widget(form, {'attr': {'novalidate': 'novalidate'}}) }}#}

                        {% if not form.vars.valid %}
                            {% for error in form.vars.errors.form.getErrors(true) %}
                                <div class="alert alert-warning" role="alert">{{ error.message }}</div>
                            {% endfor %}
                        {% endif %}

                        {{ form_start(form) }}

                        {{ form_label(form.nickname) }}
                        {{ form_errors(form.nickname) }}
                        {{ form_widget(form.nickname, { 'attr': {'class': 'form-control mb-1'} }) }}

                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control mb-1'} }) }}

                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control mb-1'} }) }}

                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control mb-1'} }) }}

                        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-block btn-primary mt-2'} }) }}

                        {{ form_end(form) }}

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}