{% extends 'main/base.html.twig' %}

{% block title %}{{ stock.title }} (списки детей){% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block body %}

<div class="container-fluid main-content">
    <div class="row no-gutters">
        <div class="col-12 col-lg-10 col-md-10">
            <div class="form ml-5 font-open-sans">
                <img src="{{ asset('uploads/images/stock/' ~ stock.image) }}" class="mr-3 img-rounded"
                     alt="Главное фото" width="282" align="left" vspace="13" hspace="0">
                <h2 class="mt-4 title-size font-amatic"><b>Стартовала акция «{{ stock.title }}»!</b></h2>
                <b class="date-size font-amatic">{{ stock.dateStart|date('d.m.Y') }} — {{ stock.dateEnd|date('d.m.Y') }}</b>
                <p class="description-size">Ниже представленны списки детей из различных учреждений, а также правила проведения акции.<br>
                    Чтобы скрыть или показать списки детей (или правила), нажмите на кнопку с названием подшефного учреждения.<br>
                    Чтобы выбрать ребенка, которому хотите купить подарок, нужно нажать на запись ребенка в списке. Чтобы отменить - нажать еще раз.
                    <br>Выбирать детей могут только <strong>зарегистрированные</strong> пользователи.<br>
                    Пожалуйста, если понимаете, что не успеете купить подарок, отмените выбор ребенка, чтобы он нашел своего дарителя!<br>
                    После проведения акции мы публикуем фотоотчеты, там вы сможете посмотреть как проходят утренники с вручением подарков!
                </p>

                <div style="font-family: 'PT Sans', sans-serif;">
                    <input id="showRules" data-string-text="Скрыть правила" type="button" onclick="toggle(rules_content)"
                           class="btn orange-color active mb-3" value="Правила" data-toggle="button" aria-pressed="true"><br>
                    <p id="rules_content"  class="pre-wrap description-size font-open-sans">{{ stock.rules }}</p>

                    {% for institution_n in institution_names %}
                        {% if loop.index == 1 %}
                            <input type="button" onclick="toggle(id_group_{{ loop.index }})" class="btn orange-color active mb-2 mt-0"
                                   value="{{ institution_n.institution_name }}" data-toggle="button" aria-pressed="true"><br>
                             <ol id="id_group_{{ loop.index }}" class="list-unstyled mb-0">
                        {% else %}
                            <input type="button" onclick="toggle(id_group_{{ loop.index }})" class="btn orange-color mb-2"
                                   value="{{ institution_n.institution_name }}" data-toggle="button"><br>
                            <ol id="id_group_{{ loop.index }}" class="list-unstyled mb-0" style="display: none">
                        {% endif %}
                        {% for group_n in group_names %}
                            {% if (group_n.institution_name == institution_n.institution_name) and (group_n.group_name != '') %}
                                {% if loop.index == 1 %}
                                    <li>
                                        <input type="button" onclick="toggle(id_group_children_{{ loop.index }})" class="btn orange-color active mb-2 ml-3"
                                               value="Группа «{{ group_n.group_name }}»" data-toggle="button" aria-pressed="true"><br>
                                    </li>
                                    <ol id="id_group_children_{{ loop.index }}" class="list-unstyled">
                                {% else %}
                                    <li>
                                        <input type="button" onclick="toggle(id_group_children_{{ loop.index }})" class="btn orange-color mb-2 ml-3"
                                              value="Группа «{{ group_n.group_name }}»" data-toggle="button"><br>
                                    </li>
                                    <ol id="id_group_children_{{ loop.index }}" class="list-unstyled" style="display: none">
                                {% endif %}
                            {% for child in children %}
                                {% if (child.institutionName == institution_n.institution_name) and (child.groupName == group_n.group_name)  %}
                                    {% if child.reservationNickname != NULL %}
                                        {% if user is not empty %}
                                            {% if child.reservationNickname == user.nickname %}
                                                <li>
                                                    <div class="row col-10">
                                                        {% if child.isGifted %}
                                                        <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="z-index: 2;" class="disabled btn btn-success mb-2 btn-sm ml-5 text-left">
                                                            {{ child.serialNumber }}. {{ child.information }} </a>
                                                        <div class="col-sm position-absolute">
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                               class="btn-sm btn btn-block disabled btn-outline-success btn-reservation">{{ child.reservationNickname }}
                                                                 <i class="fa-gift fa" aria-hidden="true"></i></a>
                                                        </div>
                                                        {% else %}
                                                        <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="z-index: 2;" class="btn btn-success mb-2 btn-sm ml-5 text-left">
                                                            {{ child.serialNumber }}. {{ child.information }} </a>
                                                        <div class="col-sm position-absolute">
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                               class="btn-sm btn btn-block btn-outline-success btn-reservation">{{ child.reservationNickname }}</a>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <div class="row col-10">
                                                        <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="color: #28a745" class="disabled btn mb-2 btn-sm ml-5 text-left">
                                                            {{ child.serialNumber }}. {{ child.information }} </a>
                                                        <div class="col-sm position-absolute">
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                               class="btn-sm btn btn-block btn-outline-success btn-reservation disabled" style="color: #28a745">{{ child.reservationNickname }}
                                                            {% if child.isGifted %} <i class="fa-gift fa" aria-hidden="true"></i>{% endif %}</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% else %}
                                            <li>
                                                <div class="row col-10">
                                                    <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="color: #28a745" class="disabled btn mb-2 btn-sm ml-5 text-left">
                                                        {{ child.serialNumber }}. {{ child.information }} </a>
                                                    <div class="col-sm position-absolute">
                                                        <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                           class="btn-sm btn btn-block btn-outline-success btn-reservation disabled" style="color: #28a745">{{ child.reservationNickname }}
                                                            {% if child.isGifted %} <i class="fa-gift fa" aria-hidden="true"></i>{% endif %}</a>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endif %}
                                    {% else %}
                                        {% if user is not empty %}
                                        <li>
                                            <div class="row col-10">
                                                <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="z-index: 2;" class="btn btn-dark mb-2 btn-sm ml-5">
                                                    {{ child.serialNumber }}. {{ child.information }}</a>
                                                <div class="col-sm position-absolute">
                                                    <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                       class="btn-sm btn btn-block btn-outline-dark btn-reservation">не выбрали</a>
                                                </div>
                                            </div>
                                        </li>
                                            {% else %}
                                                <li>
                                                    <div class="row col-10">
                                                        <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="z-index: 2;" class="btn btn-dark mb-2 btn-sm ml-5 disabled">
                                                            {{ child.serialNumber }}. {{ child.information }}</a>
                                                        <div class="col-sm position-absolute">
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                               class="btn-sm btn btn-block btn-outline-dark btn-reservation disabled">не выбрали</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </ol>
                            {% elseif (group_n.institution_name == institution_n.institution_name) %}
                                {% for child in children %}
                                    {% if (child.institutionName == institution_n.institution_name) and (child.groupName == group_n.group_name)  %}
                                        {% if child.reservationNickname != NULL %}
                                            {% if user is not empty %}
                                            {% if child.reservationNickname == user.nickname %}
                                                <li>
                                                    <div class="row col-10">
                                                        {% if child.isGifted %}
                                                        <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="z-index: 2;" class="disabled btn btn-success mb-2 ml-3 btn-sm text-left">
                                                            {{ child.serialNumber }}. {{ child.information }} </a>
                                                        <div class="col-sm position-absolute">
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                               class="btn-sm btn btn-block btn-outline-success disabled btn-reservation2">{{ child.reservationNickname }}
                                                                 <i class="fa-gift fa" aria-hidden="true"></i></a>
                                                        </div>
                                                        {% else %}
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="z-index: 2;" class="btn btn-success mb-2 ml-3 btn-sm text-left">
                                                                {{ child.serialNumber }}. {{ child.information }} </a>
                                                            <div class="col-sm position-absolute">
                                                                <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                                   class="btn-sm btn btn-block btn-outline-success btn-reservation2">{{ child.reservationNickname }}</a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <div class="row col-10">
                                                        <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="color: #28a745" class="disabled btn mb-2 ml-3 btn-sm text-left">
                                                            {{ child.serialNumber }}. {{ child.information }} </a>
                                                        <div class="col-sm position-absolute">
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                               class="btn-sm btn btn-block btn-outline-success btn-reservation2 disabled" style="color: #28a745">{{ child.reservationNickname }}
                                                                {% if child.isGifted %} <i class="fa-gift fa" aria-hidden="true"></i>{% endif %}</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                                {% else%}
                                                    <li>
                                                        <div class="row col-10">
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="color: #28a745" class="disabled btn mb-2 ml-3 btn-sm text-left">
                                                                {{ child.serialNumber }}. {{ child.information }} </a>
                                                            <div class="col-sm position-absolute">
                                                                <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                                   class="btn-sm btn btn-block btn-outline-success btn-reservation2 disabled" style="color: #28a745">{{ child.reservationNickname }}
                                                                    {% if child.isGifted %} <i class="fa-gift fa" aria-hidden="true"></i>{% endif %}</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endif %}
                                        {% else %}
                                            {% if user is not empty %}
                                            <li>
                                                <div class="row col-10">
                                                    <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="z-index: 2;" class="btn btn-dark mb-2 btn-sm ml-3">
                                                        {{ child.serialNumber }}. {{ child.information }}</a>
                                                    <div class="col-sm position-absolute">
                                                        <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                           class="btn-sm btn btn-block btn-outline-dark btn-reservation2">не выбрали</a>
                                                    </div>
                                                </div>
                                            </li>
                                                {% else %}
                                                    <li>
                                                        <div class="row col-10">
                                                            <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}" style="z-index: 2;" class="btn btn-dark mb-2 btn-sm ml-3">
                                                                {{ child.serialNumber }}. {{ child.information }}</a>
                                                            <div class="col-sm position-absolute">
                                                                <a href="{{ path('main_stock_children_select', {'id_stock': stock.id, 'id_child': child.id}) }}"
                                                                   class="btn-sm btn btn-block btn-outline-dark btn-reservation2">не выбрали</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </ol>
                            {% endif %}
                        {% endfor %}
                        </ol>
                    {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}