{% extends 'main/base.html.twig' %}

{% block title %}{{ stock.title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block body %}

    <div class="container-fluid main-content">
        <div class="row no-gutters">
            <div class="col-12 col-lg-10 col-md-10">
                <div class="form ml-5 font-amatic">
                    <h2 class=" mt-4 title-size"><b>Акция «{{ stock.title }}» успешно завершилась!</b></h2>
                    <b class="date-size">{{ stock.dateStart|date('d.m.Y') }} — {{ stock.dateEnd|date('d.m.Y') }}</b>
                    <p class="pre-wrap font-open-sans description-size">{{ stock.thanks }}</p>

                    {% if photo_reports is empty %}
                        <p class="font-open-sans description-size">По мере проведения утренников ниже появятся фотоотчеты, где вы сможете посмотреть на детей,
                            которым покупали подарки и порадоваться вместе с ними!</p>
                        <img src="{{ asset('uploads/images/stock/' ~ stock.image) }}" class="mr-3 img-rounded"
                             alt="Главное фото" width="600" align="left">
                        <a href="{{ path('main_photo_reports') }}" class="btn btn-size btn-danger main-color">Фотоотчеты к другим акциям</a>
                    {% endif %}

                    {% for photo_report in photo_reports %}
                        <h2 class="mb-3 mt-3" style="font-size: 40px;"><b>{{ photo_report.title }}</b></h2>
                    <div class="media">
                        <div>
                            <img src="{{ asset('uploads/images/photoReport/' ~ photo_report.image) }}" class="mr-3 img-rounded"
                                 alt="Главное фото" width="500" align="left">
                        </div>
                        <div class="media-body">
                            <b class="date-size">{{ photo_report.createAt|date('d.m.Y') }}</b>
                            <p class="pre-wrap part-description font-open-sans description-size">{{ photo_report.description }}</p>
                            <a href="{{ path('main_stock_photos', {'id': photo_report.id}) }}" class="btn btn-danger main-color btn-size">Подробнее</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}