{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block entity_list %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% if feedbacks is empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Список отзывов пока что пуст. Добавьте первый отзыв!
        </div>
    {% endif %}

    <ul class="pl-0">
        {% for feedback in feedbacks %}
            {% if feedback.isPublished == true %}
                <li class="list-group-item p-3 rounded mb-3 border" style="background-color: rgba(130,210,134,0.25)">
            {% else %}
                <li class="list-group-item p-3 rounded mb-3 border">
            {% endif %}
                {% if feedback.nickname != NULL %}
                    <b>Автор:</b> {{ feedback.nickname }}<br>
                {% endif %}
                <b>Тема отзыва:</b> {{ feedback.title }}<br>
                <p class="pre-wrap"><b>Сообщение отзыва:</b> {{ feedback.description }}</p>
                <b>Дата создания:</b> {{ feedback.createAt|date('d.m.Y в H:i') }}<br>

                <a href="{{ path('admin_feedback_update', {'id': feedback.id}) }}" class="btn btn-dark mt-2 mr-1">Редактировать</a>
                {% if feedback.isPublished == true %}
                    <a href="{{ path('admin_feedback_do_draft', {'id': feedback.id}) }}" class="btn btn-outline-danger mt-2 ml-1">Скрыть</a>
                {% else %}
                    <a href="{{ path('admin_feedback_do_published', {'id': feedback.id}) }}" class="btn btn-outline-success mt-2 ml-1">Опубликовать</a>
                {% endif %}

                <a href="{{ path('admin_feedback_delete', {'id': feedback.id}) }}" class="btn btn-danger mt-2 pull-right">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('admin_feedback_create') }}" class="btn btn-success">Добавить отзыв</a>
{% endblock %}