{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block entity_list %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% if posts is empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Список постов пока что пуст. Добавьте первый пост!
        </div>
    {% endif %}

    <ul class="pl-0">
        {% for post in posts %}
            {% if post.isPublished == true %}
                <li class="list-group-item p-3 rounded mb-3 border" style="background-color: rgba(130,210,134,0.25)">
            {% else %}
                <li class="list-group-item p-3 rounded mb-3 border">
            {% endif %}
                <img src="{{ asset('uploads/images/post/' ~ post.image) }}" class="mr-3 rounded" alt="Главное фото" width="300" align="left">
                <b style="font-size: 25px">{{ post.title }}</b><br>
                <b>Относится к категории "{{ post.category.title }}"</b><br>
                <p class="pre-wrap"><b>Описание поста:</b><br>{{ post.description }}</p>
                <b>Дата создания: </b>{{ post.createAt|date('d.m.Y в H:i') }}<br>
                {% if (post.updateAt != NULL) %}
                    <b>Дата изменения: </b>{{ post.updateAt|date('d.m.Y в H:i') }}<br>
                {% endif %}
                 <a href="{{ path('admin_post_update', {'id': post.id}) }}" class="btn btn-dark mt-2 mr-1">Редактировать</a>

                {% if post.isPublished == true %}
                    <a href="{{ path('admin_post_do_draft', {'id': post.id}) }}" class="btn btn-outline-danger mt-2 ml-1">Скрыть</a>
                {% else %}
                    <a href="{{ path('admin_post_do_published', {'id': post.id}) }}" class="btn btn-outline-success mt-2 ml-1">Опубликовать</a>
                {% endif %}

                <a href="{{ path('admin_post_delete', {'id': post.id}) }}" class="btn btn-danger mt-2 pull-right">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    {% if check_category is not empty %}
        <a href="{{ path('admin_post_create') }}" class="btn btn-success">Добавить пост</a>
    {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Для добавления поста требуется создание категории.
        </div>
        <a href="{{ path('admin_category_create') }}" class="btn btn-success">Создать категорию</a>
    {% endif %}
{% endblock %}