{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block body %}

    <div class="container-fluid mt-3">
        <div class="row no-gutters">
            <div class="col-12 col-lg-4 col-md-4">
                <ul class="pl-0 w-100">
                    {% for post in posts %}
                        <li class="list-group-item p-1">
                            Заголовок поста: {{ post.title }}<br>
                            Описание поста: {{ post.content }}<br>
{#                            Дата создания: {{ stock.createAt|date('d.m.Y в H:i') }}<br>#}
{#                            {% if (stock.updateAt != NULL) %}#}
{#                                Дата изменения: {{ stock.updateAt|date('d.m.Y в H:i') }}<br>#}
{#                            {% endif %}#}
                        </li>
                    {% endfor %}
                </ul>
                {% if check_category is not empty %}
                    <a href="{{ path('admin_post_create') }}" class="btn btn-success">Добавить пост</a>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                   Для добавления поста требуется создание катугории
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}