{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block entity_list %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <ul class="pl-0 w-100">
        {% for post in posts %}
            <li class="list-group-item p-1">
                <em>Заголовок поста:</em> {{ post.title }}<br>
                Описание поста: {{ post.description }}<br>
                Дата создания: {{ post.createAt|date('d.m.Y в H:i') }}<br>
                {% if (post.updateAt != NULL) %}
                    Дата изменения: {{ post.updateAt|date('d.m.Y в H:i') }}<br>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if check_category is not empty %}
        <a href="{{ path('admin_post_create') }}" class="btn btn-success">Добавить пост</a>
    {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Для добавления поста требуется создание категории
        </div>
        <a href="{{ path('admin_category_create') }}" class="btn btn-success">Создать категорию</a>
    {% endif %}
{% endblock %}