<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Главная страница{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/framework/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.5.0/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
            <link rel="stylesheet" href="{{ asset('assets/main/css/style.css?v39') }}">
        {% endblock %}
    </head>
    <body>
    <header>

    <nav class="navbar navbar-current navbar-expand-lg navbar-dark">
        <a href="{{ path('home') }}"><img src="{{ asset('uploads/images/logo.png') }}" alt="logo" class="logo"></a>

        <a class="navbar-brand nav-link-style" href="https://fond.vladmama.ru/campaign/ustavnoj-deyatelnost/#leyka-payment-form">
            <i class="fa-gift fa" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="{{ path('home') }}">Главная страница<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
{#                    <a class="nav-link nav-link-style ml-2" href="{{ path('main_stocks'}}">Наши акции</a>#}
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="{{ path('main_photo_reports') }}">Фотоотчеты</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="#">Статистика</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="#">Блог</a>
                </li>
            </ul>
            <form class="form-inline">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_home') }}" class="btn btn-outline-light my-2 my-sm-0" type="submit">Админ панель</a>
                    {% else %}
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-light my-2 my-sm-0 ml-2" type="submit">Выход</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-outline-light my-2 my-sm-0" type="submit">Войти</a>
                {% endif %}
            </form>
        </div>
    </nav>
    </header>

{#        <div class="row" >#}
{#            <div class=" col-lg-10 col-md-10">#}
{#                {% block body %}{% endblock %}#}
{#            </div>#}
            <div class="col-lg-2 mt-5" style=" margin-left: auto; position: absolute; right: 3%;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consectetur consequuntur debitis dolores dolorum fugiat in iure nostrum obcaecati perferendis perspiciatis quibusdam quos rem repellendus repudiandae, rerum sunt velit?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus atque ex iure maxime placeat? At consectetur distinctio dolorem doloribus ipsam maxime modi quae quasi. Perspiciatis recusandae sed suscipit vero.
            </div>
{#        </div>#}

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="row">
            <div class="col-sm m-3 pl-5 text-left text-white"> © 2014–2020
                <a href="https://fond.vladmama.ru/" class="copyright">Благотворительный фонд «Владмама»</a>,
                <a href="https://vladmama.ru/" class="copyright">ООО «Владмама».</a>
                Все права защищены.
            </div>
            <div class="col-sm m-3 pr-10 text-right text-white">
                <a href="{{ path('home') }}" class="mr-4 nav-link-style">Главная страница</a>
                <a href="#" class="mr-4 nav-link-style">Наши акции</a>
                <a href="{{ path('main_photo_reports') }}" class="mr-4 nav-link-style">Фотоотчеты</a>
                <a href="#" class="mr-4 nav-link-style">Статистика</a>
                <a href="#" class="mr-4 nav-link-style">Блог</a>
            </div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/framework/bootstrap-4.5.0/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/main/js/style.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

        {% endblock %}
    </body>
</html>
