<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Главная страница{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/framework/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.5.0/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
            <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:wght@300;400;600&family=Open+Sans+Condensed:wght@300&family=PT+Sans&family=Poiret+One&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/main/css/style.css?v49') }}">
        {% endblock %}
    </head>
    <body>
    <header>



    <nav class="navbar navbar-current navbar-expand-lg navbar-dark">
        <a href="{{ path('home') }}"><img src="{{ asset('uploads/images/logo.png') }}" alt="logo" class="logo" style="z-index: 3;"></a>

        <a class="navbar-brand nav-link-style" href="https://fond.vladmama.ru/campaign/ustavnoj-deyatelnost/#leyka-payment-form">
            <i class="fa-gift fa" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2"  href="{{ path('home') }}">Главная страница<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="{{ path('main_stocks')}}">Наши акции</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="{{ path('main_photo_reports') }}">Фотоотчеты</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="{{ path('main_posts') }}">Посты</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="{{ path('main_statistic') }}">Статистика</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-style ml-2" href="#">Блог</a>
                </li>
            </ul>
            <form class="form-inline">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="nav-link-style font-amatic mr-3" style="font-size: 40px;!important;">{{ app.user.nickname }}</div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_home') }}" class="btn btn-outline-light my-2 my-sm-0 nav-link-style" type="submit">Админ панель</a>
                    {% else %}
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-light my-2 my-sm-0 ml-2 nav-link-style" type="submit">Выход</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-outline-light my-2 my-sm-0 nav-link-style" type="submit">Войти</a>
                {% endif %}
            </form>
        </div>
    </nav>
    </header>


    <div class="mt-5" style=" margin-left: auto; width: 17%; position: absolute; right: 4%; font-family: 'Amatic SC', cursive;">
        <p class="text-justify" style="font-size: 22px;">
            Если у вас совсем нет времени выбирать, покупать, упаковывать подарок, то<l class="pre-wrap"> </l> вы можете помочь нам <l class="pre-wrap"> </l>и
            <a class="btn btn-block orange-color" style="font-size: 30px" href="https://fond.vladmama.ru/campaign/ustavnoj-deyatelnost/#leyka-payment-form">Поддержать фонд
                <i class="fa-gift fa" aria-hidden="true"></i></a>
            всего лишь кликнув по кнопке. Наши помощники купят и упакуют подарок за вас. Помогать просто!
            <l style="color: white;">ГЫ</l>
        </p>


        {% block sidebar %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for new_photo_report in new_photo_reports %}
                    {% if new_photo_report.isPublished %}
                        {% if loop.index == 1 %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                        <a href="{{ path('main_stock_photos', {'id': new_photo_report.id}) }}" style="text-decoration: none!important;">
                            <img src="{{ asset('uploads/images/photoReport/' ~ new_photo_report.image) }}" class="d-block w-100  rounded-top" alt="{{ new_photo_report.title }}">
                            <div class="d-none d-md-block text-center">
                                <h5 class="orange-color rounded-bottom" >{{ new_photo_report.title }}</h5>
                            </div>
                        </a>
                            </div>
                    {% endif %}
                {% endfor %}
            </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
        {% endblock %}
            <div class="text-center">
            <a href="https://www.facebook.com/fond.vladmama.ru/"><img style="color: #00FFFF" class="m-3 ьд-4" src="{{ asset('assets/main/imges/facebook.jpg') }}" alt="facebook-icon" width="50px"></a>
            <a href="https://vk.com/fond.vladmama"><img class="" src="{{ asset('assets/main/imges/vk.jpg') }}" alt="vk-icon" width="50px"></a>
            <a href="https://www.instagram.com/fond.vladmama/"><img class="" src="{{ asset('assets/main/imges/instagram.png') }}" alt="instagram-icon" width="100px"></a>
            <a href="https://ok.ru/group/52774842400998"><img class="mr-3" src="{{ asset('assets/main/imges/odnoklassniki.svg') }}" alt="ok-icon" width="50px"></a>
            </div>
    </div>

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="row">
            <div class="col-sm m-3 pl-5 text-left text-white font-open-sans nav-bottom-size"> © 2014–2020
                <a href="https://fond.vladmama.ru/" class="copyright">Благотворительный фонд «Владмама»</a>,
                <a href="https://vladmama.ru/" class="copyright">ООО «Владмама».</a>
                Все права защищены.
                <a href="https://vk.com/fond.vladmama" style="color:white; text-decoration: none;" class="fa fa-2x fa-vk mr-3 text-center ml-4"></a>
                <a href="https://www.facebook.com/fond.vladmama.ru/" style="color:white; text-decoration: none;" class="fa fa-2x fa-facebook mr-3"></a>
                <a href="https://www.instagram.com/fond.vladmama/" style="color:white; text-decoration: none;" class="fa fa-2x fa-instagram mr-3"></a>
                <a href="https://ok.ru/group/52774842400998" style="color:white; text-decoration: none;" class="fa fa-2x fa-odnoklassniki mr-2"></a>
            </div>
            <div class="col-sm m-3 pr-10 text-right text-white mt-4">
                <a href="{{ path('home') }}" class="mr-4 nav-link-style nav-bottom-size">Главная страница</a>
                <a href="#" class="mr-4 nav-link-style nav-bottom-size">Наши акции</a>
                <a href="{{ path('main_photo_reports') }}" class="mr-4 nav-link-style nav-bottom-size">Фотоотчеты</a>
                <a href="{{ path('main_posts') }}" class="mr-4 nav-link-style nav-bottom-size">Посты</a>
                <a href="{{ path('main_statistic') }}" class="mr-4 nav-link-style nav-bottom-size">Статистика</a>
                <a href="#" class="mr-4 nav-link-style nav-bottom-size">Блог</a>
            </div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/framework/bootstrap-4.5.0/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/main/js/style.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

        {% endblock %}
    </body>
</html>
