{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block body %}

{#    <p>Чтобы завершить регистрацию, подтвердите свой <a href="{{ path('') }}"> {{ token }}электронный адрес.</a></p>#}

    <div class="container-fluid main-content">
        <div class="row no-gutters">
            <div class="col-12 col-lg-10 col-md-10">
                <div class="form">
                    <ul class="justify-content-center font-amatic">
                        {% for stock in stocks %}
                            <li class="list-group-item mb-2 border-0">
                                {% if (today < stock.dateEnd) %}
                                    <h2 class="mb-3 title-size"><b>Стартовала акция «{{ stock.title }}»!</b></h2>
                                {% else %}
                                    <h2 class="mb-3 title-size"><b>Акция «{{ stock.title }}» прошла...</b></h2>
                                {% endif %}

                                <div class="media">
                                    <div>
                                        <img src="{{ asset('uploads/images/stock/' ~ stock.image) }}" class="mr-3 img-rounded" alt="Главное фото" width="500">
                                    </div>
                                    <div class="media-body pb-1">
                                        <b class="date-size">{{ stock.dateStart|date('d.m.Y') }} — {{ stock.dateEnd|date('d.m.Y') }}</b>
                                        <p class="pre-wrap part-description font-open-sans description-size">{{ stock.description }}</p>
                                        <a href="{{ path('main_stock', {'id': stock.id}) }}" class="btn btn-danger main-color btn-size">Подробнее</a>
                                    </div>
                                </div>
                            </li>
                            {% set lop = loop.index %}
                            {% for post in posts if lop == 1%}
                                <li class="list-group-item p-3 mb-3 border-0">
                                    <h2 class="mb-3 title-size"><b>«{{ post.title }}»</b></h2>
                                    <div class="media">
                                        <img src="{{ asset('uploads/images/post/' ~ post.image) }}"class="mr-3 img-rounded" alt="Главное фото" width="500">
                                        <div class="media-body">
                                            <b class="date-size">{{ post.createAt|date('d.m.Y') }}</b>
                                            <p class="pre-wrap part-description font-open-sans description-size">{{ post.description }}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

