<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Административная панель{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.5.0/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/main/css/style.css?v16') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin_home') }}">Административная панель
        <i class="fa fa-microchip ml-2 mr-4" aria-hidden="true"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_home') }}">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_users') }}">Пользователи</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_stocks') }}">Акции</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_categories') }}">Категории</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_posts') }}">Посты</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_children') }}">Дети</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_photo_reports') }}">Фотоотчеты</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_photos') }}">Фотографии</a>
            </li>
        </ul>
        <form class="form-inline">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('home') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Выход на сайт</a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-danger my-2 my-sm-0 ml-2" type="submit">Выход</a>
            {% endif %}
        </form>
    </div>
</nav>

<div class="container-fluid mt-3">
    <div class="row no-gutters ml-2">
        <div class="col-12">
            <h1 class="h2 font-weight-normal">{% block h1 %}{% endblock %}</h1>
        </div>
    </div>
</div>

{% block body %}{% endblock %}

<div class="container-fluid mt-3">
    <div class="row no-gutters ml-2">
        <div class="col-12 col-lg-12 col-md-12">
            {% block entity_list %}{% endblock %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-5 col-md-5">
            <div class="form">
                <h1 class="h3 mb-3 font-weight-normal text-center">{% block title_form %}{% endblock %}</h1>
                    {% block form %}
                    {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/framework/bootstrap-4.5.0/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
