{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container-fluid main-content">
        <div class="row no-gutters">
            <div class="col-12 col-lg-10 col-md-10">
                <div class="form">
                    <ul class="justify-content-center font-amatic">
                        {% for photo_report in photo_reports %}
                            <li class="list-group-item mb-2 border-0">
                                <h2 class="title-size mb-3"><b>{{ photo_report.title }}</b></h2>
                                <div class="media">
                                    <div>
                                        <img src="{{ asset('uploads/images/photoReport/' ~ photo_report.image) }}" class="mr-3 img-rounded" alt="Главное фото" width="500" align="left">
                                    </div>
                                    <div class="media-body pb-1">
                                        <b class="date-size">{{ photo_report.createAt|date('d.m.Y') }}</b>
                                        <p class="pre-wrap part-description font-open-sans description-size">{{ photo_report.description }}</p>
                                        <a href="{{ path('main_stock_photos', {'id': photo_report.id}) }}" class="btn btn-danger main-color btn-size">Подробнее</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}