{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block title_form %}Добавление новой категории{% endblock %}

{% block form %}

    {% if not form.vars.valid %}
        {% for error in form.vars.errors.form.getErrors(true) %}
            <div class="alert alert-warning" role="alert">{{ error.message }}</div>
        {% endfor %}
    {% endif %}

    {{ form_start(form) }}

    {{ form_label(form.title) }}
    {{ form_widget(form.title, { 'attr': {'class': 'form-control mb-1'} }) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description, { 'attr': {'class': 'form-control mb-1 row-min'} }) }}

    {{ form_label(form.image) }}<br>
    {{ form_widget(form.image, { 'attr': {'class': 'mb-1'} }) }}

    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-block btn-primary mt-2'} }) }}

    {{ form_end(form) }}

{% endblock %}