{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block entity_list %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% if categories is empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Список категорий пока что пуст. Добавьте первую категорию!
        </div>
    {% endif %}

    <ul class="pl-0">
        {% for category in categories %}
            {% if category.isPublished == true %}
                <li class="list-group-item p-3 rounded mb-3 border" style="background-color: rgba(130,210,134,0.25)">
            {% else %}
                <li class="list-group-item p-3 rounded mb-3 border">
            {% endif %}
                <img src="{{ asset('uploads/images/category/' ~ category.image) }}" class="mr-3 rounded" alt="Главное фото" width="300" align="left">
                <b>Категория:</b> {{ category.title }}<br>
                <p class="pre-wrap"><b>Описание категории:</b> {{ category.description }}</p>
                <b>Дата создания:</b> {{ category.createAt|date('d.m.Y в H:i') }}<br>
                {% if (category.updateAt != NULL) %}
                    <b>Дата изменения:</b> {{ category.updateAt|date('d.m.Y в H:i') }}<br>
                {% endif %}

                <a href="{{ path('admin_category_update', {'id': category.id}) }}" class="btn btn-dark mt-2 mr-1">Редактировать</a>
                {% if category.isPublished == true %}
                    <a href="{{ path('admin_category_do_draft', {'id': category.id}) }}" class="btn btn-outline-danger mt-2 ml-1">Скрыть</a>
                {% else %}
                    <a href="{{ path('admin_category_do_published', {'id': category.id}) }}" class="btn btn-outline-success mt-2 ml-1">Опубликовать</a>
                {% endif %}

                <a href="{{ path('admin_category_delete', {'id': category.id}) }}" class="btn btn-danger mt-2 pull-right">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('admin_category_create') }}" class="btn btn-success">Добавить категорию</a>
{% endblock %}