{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block entity_list %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <ul class="pl-0 rounded">
        {% for category in categories %}
            <li class="list-group-item p-3">
                <div class="media">
                    <img src="{{ asset('uploads/images/category/' ~ category.image) }}" class="mr-3 rounded" alt="Главное фото" width="300">
                    <div class="media-body">
                        <b>Категория:</b> {{ category.title }}<br>
                        <p class="pre-wrap"><b>Описание категории:</b> {{ category.description }}</p>
                        <b>Дата создания:</b> {{ category.createAt|date('d.m.Y в H:i') }}<br>
                        {% if (category.updateAt != NULL) %}
                            <b>Дата изменения:</b> {{ category.updateAt|date('d.m.Y в H:i') }}<br>
                        {% endif %}

                        <a href="{{ path('admin_category_update', {'id': category.id}) }}" class="btn btn-dark mt-2 mr-1">Редактировать</a>
                        <a href="{{ path('admin_category_delete', {'id': category.id}) }}" class="btn btn-danger mt-2">Удалить</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('admin_category_create') }}" class="btn btn-success">Добавить категорию</a>
{% endblock %}