{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block body %}

    <div class="container-fluid mt-3">
        <div class="row no-gutters">
            <div class="col-12 col-lg-4 col-md-4">
                <ul class="pl-0 w-100">
                    {% for category in categories %}
                        <li class="list-group-item p-1">
                            Категория: {{ category.title }}<br>
                            Описание категории: {{ category.description }}<br>
{#                            Дата создания: {{ stock.createAt|date('d.m.Y в H:i') }}<br>#}
{#                            {% if (stock.updateAt != NULL) %}#}
{#                                Дата изменения: {{ stock.updateAt|date('d.m.Y в H:i') }}<br>#}
{#                            {% endif %}#}
                            <a href="{{ path('admin_category_update', {'id': category.id}) }}">
                                Редактировать
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <a href="{{ path('admin_category_create') }}" class="btn btn-success">Добавить категорию</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-8">
                {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}