{% extends 'main/base.html.twig' %}

{% block title %}{{ photo_report.title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block body %}

    {#    {% for stockNOW in categoriesNow %}#}
    {#        <img src="{{ asset('uploads/images/stock/' ~ stockNOW.image) }}" class="mr-3 rounded" alt="Главное фото" width="500">#}
    {#    {% endfor %}#}

    <div class="container-fluid main-content">
        <div class="row no-gutters mt-3">
            <div class="col-10">
                <div class="form ml-5">
                    <img src="{{ asset('uploads/images/photoReport/' ~ photo_report.image) }}" class="mr-3 rounded-lg"
                         alt="Главное фото" width="500" align="left" vspace="10" hspace="0">
                    <h1>{{ photo_report.title }}</h1>
                    <p class="mb-2"><b>{{ photo_report.createAt|date('d.m.Y') }}</b></p>
                    <p class="pre-wrap">{{ photo_report.description }}</p>


                    {#                    <input id="showRules" data-string-text="Скрыть правила" type="button" onclick="toggle(rules_content)"#}
{#                           class="btn btn-danger active mb-3 main-color" value="Правила" aria-pressed="true" data-toggle="button"><br>#}
{#                    <p id="rules_content"  class="pre-wrap">{{ stock.rules }}</p>#}

                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid main-content">
        <div class="row form ml-5 mt-4 col-10 pr-10">
            {% for photo in photos %}
                <div class="col-sm-4">
                    <figure>
                        <div class="thumb">
                            <a data-fancybox="gallery" href="{{ asset('uploads/images/photoReport/photo/' ~ photo.image) }}">
                                <img src="{{ asset('uploads/images/photoReport/photo/' ~ photo.image) }}" class="rounded img-fluid">
                            </a>
                        </div>
                        <figcaption class="text-center text-size-figcaption mt-1">{{ photo.description }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}