{% extends 'admin/adminbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block entity_list %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% if children is empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Список детей пока что пуст. Добавте первого ребенка!
        </div>
    {% endif %}

    <ul class="pl-0">
        {% for child in children %}
            {% if child.isGifted == true %}
                <li class="list-group-item rounded mb-1 border p-2" style="background-color: rgba(130,210,134,0.25)">
            {% else %}
                <li class="list-group-item rounded mb-1 border p-2">
            {% endif %}
            {% if not (id_stock) %}
                <b>Акция:</b> {{ child.stock.title }}<br>
                <b>Информация о ребенке:</b>
            {% endif %}
                {{ child.information }} ({{ child.institutionName}}{% if (child.groupName != NULL) %}, Группа «{{ child.groupName }}»{% endif %})<br>
                {% if (id_stock) %}
                    <a href="{{ path('admin_child_update', {'id': child.id, 'id_stock': id_stock}) }}" class="btn btn-dark btn-sm mt-1 mr-1">Редактировать</a>

                    {% if child.isGifted == true %}
                        <a href="{{ path('admin_child_do_not_gifted', {'id': child.id, 'id_stock': id_stock}) }}" class="btn btn-outline-danger mt-1 ml-1 btn-sm">Подарок не на складе</a>
                    {% else %}
                        <a href="{{ path('admin_child_do_gifted', {'id': child.id, 'id_stock': id_stock}) }}" class="btn btn-outline-success mt-1 ml-1 btn-sm">Подарок на складе</a>
                    {% endif %}

                    <a href="{{ path('admin_child_delete', {'id': child.id, 'id_stock': id_stock}) }}" class="btn btn-danger btn-sm mt-1 pull-right">Удалить</a>
                {% else %}
                    <a href="{{ path('admin_child_update', {'id': child.id}) }}" class="btn btn-dark btn-sm mt-1 mr-1">Редактировать</a>

                    {% if child.isGifted == true %}
                        <a href="{{ path('admin_child_do_not_gifted', {'id': child.id}) }}" class="btn btn-outline-danger mt-1 ml-1 btn-sm">Подарок не на складе</a>
                    {% else %}
                        <a href="{{ path('admin_child_do_gifted', {'id': child.id}) }}" class="btn btn-outline-success mt-1 ml-1 btn-sm">Подарок на складе</a>
                    {% endif %}

                    <a href="{{ path('admin_child_delete', {'id': child.id}) }}" class="btn btn-danger btn-sm mt-1 pull-right">Удалить</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if (id_stock) %}
        <a href="{{ path('admin_child_create', {'id_stock': id_stock}) }}" class="btn btn-success">Добавить ребенка</a>
    {% else %}
        <a href="{{ path('admin_child_create') }}" class="btn btn-success">Добавить ребенка</a>
    {% endif %}

{% endblock %}