{% extends 'main/base.html.twig' %}

{% block title %}{{ photo_report.title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block body %}

    {#    {% for stockNOW in categoriesNow %}#}
    {#        <img src="{{ asset('uploads/images/stock/' ~ stockNOW.image) }}" class="mr-3 rounded" alt="Главное фото" width="500">#}
    {#    {% endfor %}#}

    <div class="container-fluid main-content">
        <div class="row no-gutters mt-3">
            <div class="col-10">
                <div class="form ml-5">
                    <img src="{{ asset('uploads/images/photoReport/' ~ photo_report.image) }}" class="mr-3 rounded-lg"
                         alt="Главное фото" width="500" align="left" vspace="10" hspace="0">
                    <h1>{{ photo_report.title }}</h1>
                    <p class="mb-2"><b>{{ photo_report.createAt|date('d.m.Y') }}</b></p>
                    <p class="pre-wrap">{{ photo_report.description }}</p>


                    {#                    <input id="showRules" data-string-text="Скрыть правила" type="button" onclick="toggle(rules_content)"#}
{#                           class="btn btn-danger active mb-3 main-color" value="Правила" aria-pressed="true" data-toggle="button"><br>#}
{#                    <p id="rules_content"  class="pre-wrap">{{ stock.rules }}</p>#}

                </div>
            </div>
{#            <div class="col-sm-1 offset-sm-1 blog-sidebar" style="width: 100%">#}
{#                <div class="sidebar-module sidebar-module-inset">#}
{#                    <h4>About</h4>#}
{#                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>#}
{#                </div>#}
{#                <div class="sidebar-module">#}
{#                    <h4>Archives</h4>#}
{#                    <ol class="list-unstyled">#}
{#                        <li><a href="#">March 2014</a></li>#}
{#                        <li><a href="#">February 2014</a></li>#}
{#                        <li><a href="#">January 2014</a></li>#}
{#                        <li><a href="#">December 2013</a></li>#}
{#                        <li><a href="#">November 2013</a></li>#}
{#                        <li><a href="#">October 2013</a></li>#}
{#                        <li><a href="#">September 2013</a></li>#}
{#                        <li><a href="#">August 2013</a></li>#}
{#                        <li><a href="#">July 2013</a></li>#}
{#                        <li><a href="#">June 2013</a></li>#}
{#                        <li><a href="#">May 2013</a></li>#}
{#                        <li><a href="#">April 2013</a></li>#}
{#                    </ol>#}
{#                </div>#}
{#                <div class="sidebar-module">#}
{#                    <h4>Elsewhere</h4>#}
{#                    <ol class="list-unstyled">#}
{#                        <li><a href="#">GitHub</a></li>#}
{#                        <li><a href="#">Twitter</a></li>#}
{#                        <li><a href="#">Facebook</a></li>#}
{#                    </ol>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="container-fluid main-content">
        <div class="row form ml-5 mt-4 col-10 mr-10">
            {% for photo in photos %}
                <div class="col-sm-4">
                    <figure>
                        <div>
                            <img src="{{ asset('uploads/images/photoReport/photo/' ~ photo.image) }}" class="rounded img-fluid">
                        </div>
                        <figcaption class="text-center text-size-figcaption">{{ photo.description }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}