{% extends 'main/base.html.twig' %}

{% block title %}{{ photo_report.title }}{% endblock %}
{% block h1 %}{{ h1 }}{% endblock %}

{% block body %}

    <div class="container-fluid main-content">
        <div class="row no-gutters">
            <div class="col-12 col-lg-10 col-md-10">
                <div class="form ml-5 font-amatic">
                    <h2 class="mb-4 mt-4 title-size"><b>{{ photo_report.title }}</b></h2>
                    <img src="{{ asset('uploads/images/photoReport/' ~ photo_report.image) }}" class="mr-3 img-rounded" alt="Главное фото" width="600" align="left">
                    <b class="date-size">{{ photo_report.createAt|date('d.m.Y') }}</b>
                    <p class="pre-wrap font-open-sans description-size">{{ photo_report.description }}</p>

                    <a href="{{ path('main_photo_reports') }}" class="btn btn-danger main-color mb-3 btn-size">К фотоотчетам</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid main-content">
        <div class="row form ml-5 mt-4 col-10 pr-10">
            {% for photo in photos %}
                <div class="col-sm-4">
                    <figure>
                        <div class="thumb">
                            <a data-fancybox="gallery" href="{{ asset('uploads/images/photoReport/photo/' ~ photo.image) }}">
                                <img src="{{ asset('uploads/images/photoReport/photo/' ~ photo.image) }}" class="img-rounded img-fluid">
                            </a>
                        </div>
                        <figcaption class="text-center figcaption-size mt-1 font-open-sans">{{ photo.description }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}